/* Load google font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

/* Load Tailwind */
@import "tailwindcss";

/* Scan views (Tailwind v4) */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Theme Config */
@theme {
    --font-josefin: "Barlow", sans-serif;

    /* Optional: make Josefin default */
    --font-sans: "Barlow", ui-sans-serif, system-ui, sans-serif;
    --text-base: 16px;
}

/* DaisyUI Plugin */
@plugin "daisyui";
